.tuong-tac-qa .icon-contact-page {
    width: 100px;
    position: fixed;
    left: 50px;
    bottom: 10%;
    z-index: 9;
}

.tuong-tac-qa .icon-contact-page li {
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}